@charset "UTF-8";

/* para hacer referencia a fichero del tema [[pix:theme|logo.png]] */

/*** Barra de navegación superior ***/

#page-wrapper > nav.navbar.navbar-expand .site-name{display:none !important;}
.path-site #page-wrapper > nav.navbar.navbar-expand .site-name{display:inline!important;}

#page-wrapper > nav.navbar.navbar-expand {background-image:none;}

/* Al menos 768 */
@media (min-width: 768px) {
	#page-wrapper > nav.navbar.navbar-expand {
		background:url('[[pix:theme|img/fondo_logo]]') no-repeat;
	}	
}

/*** FIN ***/

/*** Página después de login ***/
.coursebox .content .courseimage img {
    max-width:100%;
	max-height: 400px;
	height: auto;
}
/*** FIN ***/

/*** Contenido de módulos ***/

/*Navegación de sección*/
.course-content .section-navigation .mdl-left,
.course-content .section-navigation .mdl-right,
.course-content .section-navigation.mdl-bottom{
	display:none;
}

/*Title*/

.is-seccion.course-2.seccion-2 #region-main .sectionname{display:none;color:#ffffff;}
.is-seccion.course-2 #region-main{
	background-repeat: no-repeat !important;
   /* background-size: contain !important; */
   background-position: center top !important;
}

.is-seccion.course-2.seccion-2 #region-main{background-image:url('[[pix:theme|img/top_modulo_1]]');}
.is-seccion.course-2.seccion-2 #region-main ul.topics{margin-top:125px !important;}

/*** FIN ***/