@charset "UTF-8";

/* para hacer referencia a fichero del tema [[pix:theme|logo.png]]

/*Navegación de sección*/
.course-content .section-navigation .mdl-left,
.course-content .section-navigation .mdl-right{
	display:none;
}

#page-wrapper > nav.navbar.navbar-expand .site-name{display:none !important;}
#page-wrapper > nav.navbar.navbar-expand {background-image:none;}

/* Al menos 768 */
@media (min-width: 768px {
	#page-wrapper > nav.navbar.navbar-expand {
		background:url('[[pix:theme|img/fondo_logo]]') no-repeat;
	}	
}
